GITHUB_TOKEN=ghp_1234567890abcdefghijklmnopqrstuvwxyz
MONGODB_URI=mongodb://username:password@host:port/database
AWS_ACCESS_KEY_ID=AKIAIOSFODNN7EXAMPLE
AWS_SECRET_ACCESS_KEY=wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
GITHUB_BUCKET_NAME=my-github-backups
MONGODB_BUCKET_NAME=my-mongodb-backups
BACKUP_PERIOD=1440
